*{margin:0px; padding:0px;}
body{background:#FAFAFA}
ul,li{list-style:none;}
a{text-decoration:none}
.clear{clear:both}


@media only screen and (min-width: 960px){ 
	
	/* İndex Sayfası */
#topheader{width:94%; height:100px; padding:0px 3%; background:#183B57; border-bottom:4px solid #eee}
#topheader img{height:60px; margin-top:20px;}
#topheader nav{float:right}
#topheader nav ul{}
#topheader nav ul li{float:left;}
#topheader nav ul li a {display:block; padding:8px 13px; font-size:19px; color:#FAFAFA; margin-top:60px;}


#aramakutusu{width:100%; height:40px; padding:100px 0; background:#406787;}
#aramakutusu input{width:40%; float:left; height:35px; margin-left:28%; padding:5px 1%; font-size:17px; color:#444}
#aramakutusu button{height:48px; width:70px; float:left; background:#183B57; border:0}
#aramakutusu  img{height:40px; float:right; margin-right:10px;}



.kategori{width:90%; height:auto; margin:50px 5%; background:#EFEFEF; padding:10px; padding-bottom:30px}
.kategori h2{color:#0277BD; text-transform: capitalize}
.program{width:30%; height:80px; line-height:19px; color:#666; overflow:hidden; display:inline-block; margin-right:2%; margin-top:15px; padding:3px; border:1px solid #ccc }
.program h4{margin-bottom:5px; color:#555}
.program img{width:70px; margin:5px; float:left}


.footer{width:90%; padding:10px 5%;color:#FAFAFA; background:#2C4961; }


/* Arama Önerileri Kutusu  */
#arama-onerileri{width:40%; height:460px; margin:0px 28%; overflow-y:scroll; padding:20px 1%; background:#fff; position:absolute; top:254px; }
.oneri{width:94%; height:80px; padding:5px 0px; border:1px solid #ccc; margin:10px 3%; overflow:hidden; color:#444}
.oneri img{height:50px; margin:10px; float:left;}
.oneri p{line-height:21px;}
#arama-onerileri::-webkit-scrollbar{width:0px}

/* Özgür Alternatif .php Stilleri */
#alternatifi-aranan-program{float:left; width:26%; height:auto; padding:30px 2%; border-right:1px solid #ccc}
#alternatifi-aranan-program img{width:70%; margin:10px 15%}
#alternatifi-aranan-program p{color:#444; font-size:17px; text-align:justify}

#alternatif-programlar {float:left; width:65%; height:auto; padding:30px 2%;}
.alternatif-programlar{width:94%; height:175px; padding:10px 1%; margin:15px 2%; border:1px solid #cecece; overflow:hidden;}
a .alternatif-programlar{color:#444}
.alternatif-programlar p{font-size:17px; line-height:23px; }
.alternatif-programlar img{height:175px; float:left; margin-right:7px}

/* about.php Stilleri */
#about{width:80%; height:auto; margin:50px 5%; padding:80px 5%; border:1px solid #ccc; color:#444}
#about h2{margin-bottom:15px;}
#about p{font-size:17px; line-height:22px}


/* contact.php Stilleri */
#contact{width:80%; height:auto; margin:50px 5%; padding:20px 5%; border:1px solid #ccc; color:#444}
#contact h2{margin-bottom:15px; color:#388E3C}
#



}

@media only screen and (min-width: 801px) and (max-width: 959px)  {

	/* İndex Sayfası */
#topheader{width:94%; height:100px; padding:0px 3%; background:#183B57; border-bottom:4px solid #eee}
#topheader img{height:60px; margin-top:20px;}
#topheader nav{float:right}
#topheader nav ul{}
#topheader nav ul li{float:left;}
#topheader nav ul li a {display:block; padding:8px 13px; font-size:19px; color:#FAFAFA; margin-top:60px;}


#aramakutusu{width:100%; height:40px; padding:100px 0; background:#406787;}
#aramakutusu input{width:50%; float:left; height:35px; margin-left:23%; padding:5px 1%; font-size:17px; color:#444}
#aramakutusu button{height:48px; width:70px; float:left; background:#183B57; border:0}
#aramakutusu  img{height:40px; float:right; margin-right:10px;}



.kategori{width:90%; height:auto; margin:50px 5%; background:#EFEFEF; padding:10px; padding-bottom:30px}
.kategori h2{color:#0277BD}
.program{width:44%; height:80px; line-height:19px; color:#666; overflow:hidden; display:inline-block; margin-right:2%; margin-top:15px; padding:3px; border:1px solid #ccc }
.program h4{margin-bottom:5px; color:#555}
.program img{width:70px; margin:5px; float:left}


.footer{width:90%; padding:10px 5%; margin-top:-18px; color:#FAFAFA; background:#2C4961; }

/* Arama Önerileri Kutusu  */
#arama-onerileri{width:50%; height:460px; margin:0px 23%; overflow-y:scroll; padding:20px 1%; background:#fff; position:absolute; top:254px; }
.oneri{width:94%; height:80px; padding:5px 0px; border:1px solid #ccc; margin:10px 3%; overflow:hidden; color:#444}
.oneri img{height:50px; margin:10px; float:left;}
.oneri p{line-height:21px;}
#arama-onerileri::-webkit-scrollbar{width:0px}

/* Özgür Alternatif .php Stilleri */
#alternatifi-aranan-program{float:left; width:26%; height:auto; padding:30px 2%; border-right:1px solid #ccc}
#alternatifi-aranan-program img{width:70%; margin:10px 15%}
#alternatifi-aranan-program p{color:#444; font-size:17px; text-align:justify}

#alternatif-programlar {float:left; width:65%; height:auto; padding:30px 2%;}
.alternatif-programlar{width:94%; height:175px; padding:10px 1%; margin:15px 2%; border:1px solid #cecece; overflow:hidden;}
a .alternatif-programlar{color:#444}
.alternatif-programlar p{font-size:17px; line-height:23px; }
.alternatif-programlar img{height:175px; float:left; margin-right:7px}

/* about.php Stilleri */
#about{width:80%; height:auto; margin:50px 5%; padding:80px 5%; border:1px solid #ccc; color:#444}
#about h2{margin-bottom:15px;}
#about p{font-size:17px; line-height:22px}


/* contact.php Stilleri */
#contact{width:80%; height:auto; margin:50px 5%; padding:20px 5%; border:1px solid #ccc; color:#444}
#contact h2{margin-bottom:15px; color:#388E3C}
#


}
@media only screen and (min-width: 481px) and (max-width: 800px) {
	
#topheader{width:94%; height:100px; padding:0px 3%; background:#183B57; border-bottom:4px solid #eee}
#topheader img{height:40px; margin-top:30px;}
#topheader nav{float:right}
#topheader nav ul{}
#topheader nav ul li{float:left;}
#topheader nav ul li a {display:block; padding:8px 13px; font-size:19px; color:#FAFAFA; margin-top:60px;}


#aramakutusu{width:100%; height:40px; padding:100px 0; background:#406787;}
#aramakutusu input{width:60%; float:left; height:35px; margin-left:18%; padding:5px 1%; font-size:17px; color:#444}
#aramakutusu button{height:48px; width:70px; float:left; background:#183B57;border:0}
#aramakutusu  img{height:40px; float:right; margin-right:10px;}


.kategori{width:90%; height:auto; margin:50px 3%; background:#EFEFEF; padding:2%; padding-bottom:30px}
.kategori h2{color:#0277BD}
.program{width:95%; height:80px; line-height:19px; color:#666; overflow:hidden; margin-top:25px; padding:3px; border:1px solid #ccc }
.program h4{margin-bottom:5px; color:#555}
.program img{width:70px; margin:5px; float:left}


.footer{width:90%; padding:10px 5%; margin-top:-18px; color:#FAFAFA; background:#2C4961; }



/* Arama Önerileri Kutusu  */
#arama-onerileri{width:60%; height:460px; margin:0px 18%; overflow-y:scroll; padding:20px 1%; background:#fff; position:absolute; top:254px; }
.oneri{width:94%; height:80px; padding:5px 0px; border:1px solid #ccc; margin:10px 3%; overflow:hidden; color:#444}
.oneri img{height:50px; margin:10px; float:left;}
.oneri p{line-height:21px;}
#arama-onerileri::-webkit-scrollbar{width:0px}

/* Özgür Alternatif .php Stilleri */
#alternatifi-aranan-program{float:left; width:26%; height:auto; padding:30px 2%; border-right:1px solid #ccc}
#alternatifi-aranan-program img{width:70%; margin:10px 15%}
#alternatifi-aranan-program p{color:#444; font-size:17px; text-align:justify}

#alternatif-programlar {float:left; width:65%; height:auto; padding:30px 2%;}
.alternatif-programlar{width:94%; height:175px; padding:10px 1%; margin:15px 2%; border:1px solid #cecece; overflow:hidden;}
a .alternatif-programlar{color:#444}
.alternatif-programlar p{font-size:17px; line-height:23px; }
.alternatif-programlar img{height:175px; float:left; margin-right:7px}

/* about.php Stilleri */
#about{width:80%; height:auto; margin:50px 5%; padding:80px 5%; border:1px solid #ccc; color:#444}
#about h2{margin-bottom:15px;}
#about p{font-size:17px; line-height:22px}


/* contact.php Stilleri */
#contact{width:80%; height:auto; margin:50px 5%; padding:20px 5%; border:1px solid #ccc; color:#444}
#contact h2{margin-bottom:15px; color:#388E3C}



}
@media only screen and (max-width: 480px){
	
#topheader{width:94%; height:120px; padding:0px 3%; background:#183B57; border-bottom:4px solid #eee}
#topheader img{height:50px; margin-top:10px;}
#topheader nav{}
#topheader nav ul{}
#topheader nav ul li{float:left;}
#topheader nav ul li a {display:block; padding:8px 5px; font-size:17px; color:#FAFAFA; margin-top:20px}


#aramakutusu{width:100%; height:40px; padding:100px 0; background:#406787;}
#aramakutusu input{width:74%; float:left; height:35px; margin-left:3%; padding:5px 1%; font-size:17px; color:#444}
#aramakutusu button{height:48px; width:18%; float:left; background:#183B57;border:0}
#aramakutusu  img{height:40px; float:right; margin-right:10px;}

.kategori{width:90%; height:auto; margin:50px 2%; padding:3%; background:#EFEFEF;  padding-bottom:30px}
.kategori h2{color:#0277BD}
.program{width:95%; height:80px; line-height:19px; color:#666; overflow:hidden; margin-top:25px; padding:3px; border:1px solid #ccc }
.program h4{margin-bottom:5px; color:#555}
.program img{width:70px; margin:5px; float:left}


.footer{width:90%; padding:10px 5%; margin-top:-18px; color:#FAFAFA; background:#2C4961; }

/* Arama Önerileri Kutusu  */
#arama-onerileri{width:92%; height:460px; margin:0px 3%; overflow-y:scroll; padding:20px 1%; background:#fff; position:absolute; top:280px; }
.oneri{width:94%; height:80px; padding:5px 0px; border:1px solid #ccc; margin:10px 3%; overflow:hidden; color:#444}
.oneri img{height:50px; margin:10px; float:left;}
.oneri p{line-height:21px;}
#arama-onerileri::-webkit-scrollbar{width:0px}

/* Özgür Alternatif .php Stilleri */
#alternatifi-aranan-program{ width:96%; height:auto; padding:30px 2%; border-bottom:1px solid #ccc}
#alternatifi-aranan-program img{width:70%; margin:10px 15%}
#alternatifi-aranan-program p{color:#444; font-size:17px; text-align:justify}

#alternatif-programlar {width:96%; height:auto; padding:30px 2%; text-align:center}
.alternatif-programlar{width:94%; height:200px; padding:10px 1%; margin:15px 2%; border:1px solid #cecece; overflow:hidden;}
a .alternatif-programlar{color:#444}
.alternatif-programlar p{font-size:17px; text-align:left; line-height:21px; }
.alternatif-programlar img{height:100px;}

/* about.php Stilleri */
#about{width:80%; height:auto; margin:50px 5%; padding:80px 5%; border:1px solid #ccc; color:#444}
#about h2{margin-bottom:15px;}
#about p{font-size:17px; line-height:22px}


/* contact.php Stilleri */
#contact{width:80%; height:auto; margin:50px 5%; padding:20px 5%; border:1px solid #ccc; color:#444}
#contact h2{margin-bottom:15px; color:#388E3C}
#


}
